* {
    margin: 0;
}
.hero {
    background-image: url(../images/heroBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
}
.hero_contenu {
    display: flex;
    flex-direction : column ;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 100vh;
    color: white;
}