@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");
a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}
* {
  margin: 0;
}

html {
  font-size: 16px;
  color: white;
  font-family: "Koulen";
}
.hero {
  background-image: url(../images/heroBackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}
.hero_contenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 100vh;
  color: white;
  text-shadow: 0 0 10px black;
}
.hero_contenu button {
  font-size: unset;
  max-width: 100px;
  padding: 5px 7px;
  border-radius: 3px;
  border: 1px solid black;
  background-color: #b90000;
}

.about_everly {
  position: relative;
  background-size: cover;
  background-position: center center;
  width: 70%;
  height: 50vh;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  margin: 2% auto;
  padding: 20px;
}

.about_everly:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/alexiz-mora-CGEpY2WaNHI-unsplash.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  border-radius: 10px;
  z-index: -1;
}

.about_everly:last-child {
  margin-top: 10%;
}

.about_everly * {
  padding: 2px 0;
}
.about_everly p {
  width: 40%;
}

.about_everly-img {
  display: flex;
}

.about_everly-img img {
  width: 50%;
  height: 50%;
}

body {
  background: #000;
  overflow-x: hidden;
}
/* ================================== */
/* ====== Header ======*/
li {
  list-style: none;
}
ul {
  margin: 0rem;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header {
  position: absolute;
  width: 100%;
  background: #0002;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0px;
}
header a {
  color: white;
  text-decoration: none;
  font-size: 32px;
  display: inline-block;
  animation: appear 1s;
  transition: 0.2s;
}
header a:hover {
  text-shadow: 0 0 20px red;
}
/* animation */
@keyframes appear {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
/* Logo */
header img {
  width: 30rem;
  height: 10rem;
  object-fit: cover;
  animation: appear 1s;
}
#menu {
  display: none;
}
/* ================================== */
/* Header Mobile &  tablet */
@media (max-width: 1280px) {
  html {
    font-size: 8px;
  }
  header {
    width: 100%;
    background: #000;
  }
  header ul {
    display: none;
  }
  #menu {
    width: 10%;
    height: 10%;
    display: block;
    object-fit: cover;
    transition: 0.2s;
    z-index: 2;
  }
  #dropdown {
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: absolute;
    width: 100%;
    top: 0;
    background-color: #000;
    animation: drop 0.5s ease-in-out;
    border: none;
  }
  header a {
    animation: none;
  }

  /* dropdown animation */
  @keyframes drop {
    from {
      transform: translateY(-200px);
    }
    to {
      transform: translateY(0px);
    }
  }
}

/* =========================================== */
/* blog*/
/* =========================================== */
#bloghero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top, black 20%, #9995);
  overflow: hidden;
}
#bloghero h1 {
  font-size: 10rem;
  color: black;
}
#bloghero h1:hover {
  text-shadow: 0 0 10px red;
}
#bloghero img {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: auto;
  object-fit: contain;
  top: 0;
}

#maincontent {
  height: 100vw;
  background: #000;
  display: flex;
  height: auto;
}
.content-blog {
  flex-direction: column;
}
.maps-place {
  width: 30vw;
  border-left: red solid;
  height: 70vh;
  padding: 2rem;
}
#afficher {
  font-family: "koulen";
  border: none;
  padding: 1em;
  margin: 1em;
  padding-left: 3em;
  padding-right: 3em;
  color: white;
  font-size: 24px;
  background: red;
}
#reculer {
  display: none;
  z-index: 10;
  font-family: "koulen";
  justify-self: center;
  border: none;
  margin: 1rem auto;
  padding: 1em 3em;
  padding-left: 3em;
  padding-right: 3em;
  color: white;
  font-size: 24px;
  background: red;
}
.aff {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 3rem 0;
}

.blog-carte-grid {
  display: grid;
  grid-template-columns: repeat(3, 20%);
  width: 100%;
  gap: 160px;
  row-gap: 24px;
  justify-content: space-around;
  overflow: hidden;
  height: 100vh;
  position: relative;
}
/* LOAD mOEre */

.blog-carte-grid-load {
  display: grid;
  grid-template-columns: repeat(3, 20%);
  width: 100%;
  gap: 160px;
  row-gap: 24px;
  justify-content: center;
  height: auto;
}
/* LLLLLLLLLLLLLLLLL */
.blog-carte-grid::after {
  content: "";
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(to top, black, transparent);
  width: 100%;
  height: 20%;
}
.carte-blog {
  position: relative;
  border: 1px solid #313131;
  width: 400px;
  height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.carte-blog p {
  background-color: #313131;
  width: 100%;
  height: 50%;
  z-index: 1;
}
.carte-blog img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
.carte-blog img:hover {
  scale: 1.3;
  rotate: 10deg;
}
.carte-blog::before {
  content: "11 OCT";
  position: absolute;
  background-color: red;
  width: 98px;
  height: 98px;
  top: 0;
  left: 0;
  /* text */
  font-size: 2.5rem;
  color: black;
  text-align: center;
  z-index: 1;
}

/* ==================== */
/* footer*/
footer {
  border-top: solid red;
  bottom: 0;
}
.responsive-footer {
  display: none;
}
footer img {
  width: 20rem;
  height: 5rem;
  object-fit: cover;
  animation: appear 1s;
}
.footer-content {
  margin: 10px;
  margin-left: 2%;
  margin-right: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-content img,
.responsive-footer img {
  width: 32px;
  height: 32px;
}
.footer-content p,
.responsive-footer p {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
}
footer input {
  border: none;
  padding: 1rem;
  background-color: #313131;
  color: #000;
}
footer button {
  border: none;
  padding: 1rem;
  background-color: red;
}

/*  Blog Mobile */
@media (max-width: 750px) {
  #bloghero {
    height: 70vw;
    width: 100%;
  }
  #bloghero img {
    height: auto;
  }
  #maincontent {
    justify-content: center;
  }
}

.maps-place-mobile {
  display: none;
}

/* MOBILE */
@media (max-width: 1280px) {
  .maps-place-mobile {
    display: block;
  }
  #bloghero {
    margin-top: 8vh;
    height: 50vw;
    width: 100%;
  }
  .footer-content {
    display: none;
  }
  .responsive-footer {
    display: block;
  }
  summary {
    font-size: 24px;
    width: 90%;
    border-bottom: white solid;
    margin: 20px;
    transition: all 0.5s;
  }
  summary::marker {
    color: #000;
  }
  details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10rem;
    transition: all 0.2s ease-in-out;
  }

  .blog-carte-grid {
    grid-template-columns: repeat(2, 20%);
    column-gap: 240px;
    justify-content: start;
  }
  .carte-blog p {
    font-size: 16px;
  }
  .maps-place {
    display: none;
  }
}
@media (min-width: 700px) {
  #maincontent {
    justify-content: center;
  }
  .maps-place-mobile {
    display: block;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .maps-place-mobile iframe {
    width: 50%;
  }
  #bloghero {
    margin-top: 8vh;
    height: 50vw;
    width: 100%;
  }
  .footer-content {
    display: none;
  }
  .responsive-footer {
    display: block;
  }
  summary {
    font-size: 24px;
    width: 90%;
    border-bottom: white solid;
    margin: 20px;
    transition: all 0.5s;
  }
  summary::marker {
    color: #000;
  }
  details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10rem;
    transition: all 0.2s ease-in-out;
  }

  .blog-carte-grid {
    grid-template-columns: repeat(2, 10%);
    justify-content: center;
    width: 100%;
    padding: 0;
  }

  .blog-carte-grid-load {
    grid-template-columns: repeat(2, 10%);
    gap: 32px;
    height: auto;
    justify-content: center;
  }
  .carte-blog {
    height: 200px;
    width: 320px;
  }
  .carte-blog p {
    font-size: 16px;
  }
  .maps-place {
    display: none;
  }
}

/* small phone */
@media (max-width: 700px) {
  .blog-carte-grid-load {
    grid-template-columns: 90%;
    gap: 32px;
    height: auto;
    justify-content: center;
  }
  .blog-carte-grid {
    grid-template-columns: 90%;
    justify-content: center;
    gap: 32px;
    height: 100vh;
    overflow: hidden;
  }
  .carte-blog {
    height: 200px;
    width: 320px;
  }
  .carte-blog p {
    font-size: 1.5rem;
  }
}
